.form-page {
  background-color: #f2f3f8;
  padding-bottom: 30px;
  min-height: 80vh;

  &__description {
    margin: 0;
    padding: 15px 20px;
    background-color: #fff;
    font-weight: 500;
    color: #434349;
    font-size: 19px;
    line-height: 1.2;
    border-top: 1px solid #ebedf2;
  }

  &__content {
    background-color: #fff;
    border-radius: 4px;
    margin: 20px;
  }

  &__title {
    font-weight: 500;
    color: #48465b;
    border-bottom: 1px solid #ebedf2;
    padding: 20px 25px;
    margin: 0;
  }

  &__box {
    padding: 20px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .grid-title {
      font-weight: 500;
      color: #646c9a;
    }

    .grid-row {
      color: #646c9a;
      font-weight: 300;
    }

    .cell-link {
      a {
        text-decoration: none;
        color: #646c9a;
      }
    }

    .cell-svg {
      cursor: pointer;
      padding: 0 12px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__bottom {
    padding: 25px;
    display: flex;
    align-items: center;

    button {
      background-color: transparent;
      border: none;
      font-size: 14px;
      color: white;
      padding: 0 5px;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
      }
    }
    
    .center {
      background-color: #5d78ff;
      border-radius: 50%;
      width: 32px;
      height: 32px;
    }
  }
}