$CELL_BACKGROUND_COLOR: rgba(100, 108, 154, 0.25);
$CELL_BACKGROUND_COLOR_DARK: rgba(100, 108, 154, 0.5);

.form-page {
  .form-page__content-report {
    padding-bottom: 20px;
  }

  .chart-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0 22px 30px;

    img {
      max-width: 530px;
    }

    img + img {
      margin-left: 30px;
    }
  }

  .report-box {
    max-height: 70vh;
    display: grid;

    border: 1px solid #C4C4C4;
    border-radius: 5px;
    margin: 0 22px;
    overflow: auto;

    .bg-light {
      background: $CELL_BACKGROUND_COLOR;
    }

    .bg-dark {
      background: $CELL_BACKGROUND_COLOR_DARK;
    }

    .include-2 {
      grid-column-start: span 2;
    }

    .include-5 {
      grid-column-start: span 5;
    }

    .include-7 {
      grid-column-start: span 7;
    }

    .top-left-cell,
    .top-title-cell,
    .middle-title-cell,
    .bottom-summary-cell {
      font-weight: 700;
    }

    .top-left-cell,
    .top-title-cell,
    .middle-title-cell,
    .cell-start-group,
    .bottom-summary-left-cell {
      border: 1px solid #c4c4c4;
    }

    .cell-start-group {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .bottom-summary-left-cell {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .top-title-cell {
      justify-self: stretch;
      text-align: center;
    }

    .bottom-summary-left-cell,
    .top-left-cell {
      place-self: stretch;
      text-align: center;
    }

    .top-left-cell {
      grid-row-start: span 2;
    }

    p {
      margin: 0;
      padding: 10px;
    }

    p:not(.middle-title-cell, .top-title-cell, .top-left-cell, .bottom-summary-left-cell, .cell-start-group) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .ml-report {
    grid-template-columns: 200px repeat(21, 135px);
    grid-template-rows: 50px 110px;
    grid-auto-rows: 70px;
    max-height: unset;

    .cell-start-group,
    .top-left-cell,
    .bottom-summary-left-cell {
      position: sticky;
      left: 0;
      background-color: white;
    }
  }

  .common-report {
    grid-template-columns: repeat(3, 140px) 235px repeat(14, 140px);
    grid-template-rows: 70px;
    grid-auto-rows: 75px;

    .middle-title-cell {
      text-align: center;

      position: sticky;
      top: 0;
      background-color: white;

      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 25px;

      &:before {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid black;
        cursor: pointer;
      }
    }
  }

  .average-check-report {
    grid-auto-rows: 60px;
  }

  .cross-sale-report {
    grid-template-columns: repeat(3, 140px) 250px repeat(14, 140px);
    grid-auto-rows: 60px;
  }

  .regular-companies-report {
    grid-template-columns: repeat(3, 140px) 215px repeat(14, 140px) 160px;
    grid-auto-rows: 60px;
  }
}